name: Stale Issues

on:
  schedule:
    - cron: '0 9 * * 1'  # Every Monday 9 AM UTC

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: 'This issue has been inactive for 30 days. It will be closed in 7 days unless there is new activity.'
          stale-pr-message: 'This PR has been inactive for 30 days. It will be closed in 7 days unless there is new activity.'
          days-before-stale: 30
          days-before-close: 7
